<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BASE{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <header>
        <a id="logo" href="{{url_for('home')}}">
            <img src="{{url_for('static', filename='logo.png')}}" class="logo" />
            <p>Donut Disturb</p>
        </a>
        <div>
            <a href="/menu">Menu</a>
            <a href="/cart">Cart</a>
            <a href="/account">Sign In</a>
        </div>
    </header>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                <p class="alert-{{ category }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %}BASE{% endblock %}
</body>
</html>
