{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div>
    <div class="highlights">
        <h2>Order from our exclusive <a href="{{url_for('menu')}}">Menu</a></h2>
        <img src="{{url_for('static', filename='menu.jpeg')}}" />
    </div>
    <div class="highlights">
        <img src="{{url_for('static', filename='discount.jpeg')}}" />
        <h2>Try an exclusive discount coupon at <a href="{{url_for('menu')}}">Checkout</a> - <em>RANDOMDISC</em></h2>
    </div>
    <div class="highlights">
        <h2>Freshly baked Pizzas starting just @ 80 <a href="{{url_for('menu')}}">Order here</a></h2>
        <img src="{{url_for('static', filename='pizza.png')}}" />
    </div>
</div>
{% endblock %}