{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div>
    <a class="highlights" href="{{url_for('menu')}}">
        <h2>Order from our exclusive Menu</h2>
        <img src="{{url_for('static', filename='menu.jpeg')}}" />
    </a>
    <a class="highlights" href="{{url_for('cart')}}">
        <img src="{{url_for('static', filename='discount.jpeg')}}" />
        <h2>Try discount coupon- <em>RANDOMDISC</em></h2>
    </a>
    <a class="highlights" href="{{url_for('menu')}}">
        <h2>Freshly baked Pizzas starting just @80</h2>
        <img src="{{url_for('static', filename='pizza.png')}}" />
    </a>
</div>
{% endblock %}
